# Build output
dist

# Dependencies
node_modules
package-lock.json
yarn.lock
!/yarn.lock

# Logs
*.logs
*.log

# Editor
**/.idea
**/.#*

# Tests
my-homerun-app

# Homerun-front testing
packages/homerun-front/public/packages/*
packages/homerun-front/homerun.config.js

# Gitkeep
!/**/.gitkeep