/* 

    COLOR DEFINITIONS

*/
body {
    --hr-background: #fff;
    --hr-accent-1: #f7fafc;
    --hr-accent-2: #edf2f7;
    --hr-accent-3: #e2e8f0;
    --hr-accent-4: #cbd5e0;
    --hr-accent-5: #a0aec0;
    --hr-accent-6: #718096;
    --hr-accent-7: #4a5568;
    --hr-accent-8: #2d3748;
    --hr-accent-9: #1a202c;
    --hr-foreground: #000;

    color: var(--hr-accent-9);
    background-color: var(--hr-background);
}

body.dark {
    --hr-background: #000;
    --hr-accent-1: #1a202c;
    --hr-accent-2: #2d3748;
    --hr-accent-3: #4a5568;
    --hr-accent-4: #718096;
    --hr-accent-5: #a0aec0;
    --hr-accent-6: #cbd5e0;
    --hr-accent-7: #e2e8f0;
    --hr-accent-8: #edf2f7;
    --hr-accent-9: #f7fafc;
    --hr-foreground: #fff;

    color: var(--hr-foreground);
    background-color: var(--hr-background);
}

/*

    CUSTOM ELEMENTS

*/

.anchor {
    @apply font-semibold;
    @apply transition-colors;
    @apply duration-150;
    @apply text-sm;
    @apply tracking-wide;
    @apply uppercase;
}

.anchor:hover {
    @apply text-primary;
}

.button {
    @apply transition-colors;
    @apply duration-150;

    @apply font-semibold;
    @apply text-sm;
    @apply uppercase;
    @apply tracking-wide;

    @apply py-3;
    @apply px-6;
    @apply rounded-xl;
}

/*

    CUSTOM COMPONENTS

*/
#depiction_changelog .changelog_container {
    position: relative;
    padding-left: 3rem;
    @apply transition-opacity;
}
#depiction_changelog .changelog_container::before {
    position: absolute;
    content: "";
    top: 2rem;
    bottom: 0.5rem;
    border-radius: 0.125rem;
    left: 0.375rem;
    width: 0.25rem;
    background-color: theme("colors.accent.2");
}
#depiction_changelog .changelog_container::after {
    position: absolute;
    content: "";
    top: 0.5rem;
    left: 0;
    width: 1rem;
    height: 1rem;
    border-radius: 0.75rem;
    background-color: theme("colors.accent.5");
    @apply transition-colors;
}
#depiction_changelog .changelog_container:hover::after {
    background-color: theme("colors.primary.DEFAULT");
}
#depiction_changelog:hover .changelog_container {
    opacity: 0.5;
}
#depiction_changelog:hover .changelog_container:hover {
    opacity: 1;
}
